@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: "Bai Jamjuree", sans-serif;
   
max-width: 1440px;
}
h1,h2,h3{
    font-weight: 600;
    color: hsl(210, 10%, 33%);
}


p{
    font-weight: 400px;
    color: hsl(201, 11%, 66%);
}

.card__header{
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px
}

.card__main_logo{
    width: 60px;
}

.card__head_body{
    text-align: center;
    max-width: 500px;
    margin-bottom: 30px;
    line-height: 1.5;
  
}



.ios_link{
    margin: 10px;
   padding:10px 30px ;
   background-color: hsl(171, 66%, 44%);
   border-radius: 30px;
   text-decoration: none;
   color: white;
     box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.mac_link{
margin: 10px;
   padding:10px 30px ;
   background-color: hsl(233, 100%, 69%);
   border-radius: 30px;
   color: white;
   text-decoration: none;
   box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}


.card__top_head{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
    
}

.card__top_text{   
    text-align: center;  
    max-width: 500px;
    line-height: 1.5;

}

.card__top_text h2{
    margin-bottom: 10px;
}


.card__top_body{
   display: flex;
   align-items: center;
    gap: 100px;
    margin-bottom: 100px;
}

.computer_img{
    width: 600px;
    height: 400px;
}

.card__topright{
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 350px;
}

.card__mid_text{
    text-align: center;  
    max-width: 500px;
    line-height: 1.5;
    margin-bottom: 70px;
}








 .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }