@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: "Bai Jamjuree", sans-serif;
    Font-size: 18px;
    
   
}


h1,h2,h3{
    font-weight: 600;
    color: hsl(210, 10%, 33%);
}


p{
    font-weight: 400px;
    color: hsl(201, 11%, 66%);
}

.card__header{
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    padding-top: 60px;
    padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
  
}

.card__main_logo{
    
    width: 70px;
    height: 70px;
}

.card__head_body{
    text-align: center;
    max-width: 650px;
    margin-bottom: 30px;
    line-height: 1.5;
  
}



.ios_link{
    margin: 5px;
   padding:10px 30px ;
   background-color: hsl(171, 66%, 44%);
   border-radius: 30px;
   text-decoration: none;
   color: white;
     box-shadow: 2px 4px 10px rgba(0,0,0,0.2);
}


.mac_link{
margin: 5px;
   padding:10px 30px ;
   background-color: hsl(233, 100%, 69%);
   border-radius: 30px;
   color: white;
   text-decoration: none;
   box-shadow: 2px 4px 10px rgba(0,0,0,0.2);
}


.card__top_head{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    
}

.card__top_text{   
    text-align: center;  
    max-width: 600px;
    line-height: 1.5;
    margin-bottom: 10px;

}

.card__top_text h2{
    margin-bottom: 10px;
}


.card__top_body{
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
    gap: 100px;
    margin-bottom: 100px;
    max-width: 100%;
}

.computer_img{
    max-width: 100%;  
}

.card__topright{
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 380px;
}

.card__topright_text{
    max-width: 100%;
}

.card__topright_text h3{
    margin-bottom: 10px;
}

.card__topright_text p{
    line-height: 1.4;
}

.card__mid_text{
    text-align: center;  
    max-width: 650px;
    line-height: 1.5;
    margin-bottom: 70px;
}

.card__mid_text h2{
    margin-bottom: 10px;
}

.devices_img{
    width: 650px;
}

.card__mid_header{
    text-align: center;
}

.card__mid_header h2{
    margin-bottom: 10px;
}
.card__midbody_join{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.midbody_pack{
    text-align: center;
     max-width: 380px;
    line-height: 1.5;
}

.icons_img{
 width: 30px;
 height: 23px;
 margin-bottom: 20px;
}

.card__mid_body{
    margin-bottom: 100px;
}

.card__company_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 100px;
    max-width: 100%;
}

.card__bottom_word{
    text-align: center;
    max-width: 650px;
    margin-bottom: 50px;
}

.card__bottom_word h2{
    margin-bottom: 15px;
}

.card__footer_body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    padding: 30px 120px;
}

.footer_logo{
    width: 30px;
    height: 30px;
}

.card__footer_link{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 70px;
    row-gap: 10px;
   
}

.footer_link{
    text-decoration: none;
    color: hsl(210, 10%, 33%);
}

.footer_link:nth-of-type(2){
    grid-column: 1;
    grid-row: 2;
}

.footer_link:nth-of-type(4){
    grid-column: 2;
}

.footer_link:nth-of-type(5){
    grid-column: 3 ;
    grid-row: 1;
}

.footer_link:hover{
    color: hsl(171, 66%, 44%);
}

.social_logo{
   margin: 5px;
    color: hsl(210, 10%, 33%);
}

.social_logo:hover{
    color: hsl(171, 66%, 44%);
}


.foot_logo_link{
    display: flex;
    align-items: center;
    gap: 100px;
}

 .attribution { font-size: 11px; text-align: center; 
background-color: whitesmoke;}
    .attribution a { color: hsl(228, 45%, 44%); }

    @media(max-width:700px){
        body{
           
            font-size: 18px;
            text-align: center;
            line-height: 1.5;    
            
            
        }
        .card__header{
            background-image: url(./images/bg-header-mobile.png);
            background-size: cover;
            max-width: 100%;
            padding: 100px 20px 70px 20px;
        }

        .card__main_logo{
            width: 100px;
            height: 100px;
        }
        .card__header_logo{
            margin-bottom: 30px;
        }
       .card__head_body{
     
       margin-bottom: 15px;
       }

       .card__head_body h1{
        margin-bottom: 15px;
         line-height: 1.2;
       }

        .card__link{
            width: 100%;
            text-align: center;
        }
        
        .ios_link{
            display: block;
            margin-bottom: 20px;
        
        }

        .mac_link{
           display: block; 
        }

        .card__main_body{
            padding: 20px;
            text-align: center;
        }

        .card__top_body{
            grid-template-columns: 1fr;
    
        }
        .card__topright_text{
            width: 100%;
        }

        .devices_img{
            max-width: 100%;
        }

        .card__midbody_join{
            flex-direction: column;
            gap: 50px;
        }

        .card__company_logo{
            flex-direction: column;
            gap: 60px;
        }

        .card__footer_body{
            flex-direction: column;
            padding: 40px;
            gap: 40px;
            
        }

        .footer_logo{
            width: 50px;
            height: 50px;
        }

        .foot_logo_link{
            flex-direction: column;
        }

        .card__footer_link{
            grid-template-columns: 1fr;
            gap: 20px;
        }

        .footer_link:nth-of-type(2){
            grid-column: 1;
            grid-row: 2;
        }

        .footer_link:nth-of-type(4){
            grid-column: 1;
            grid-row: 4;
        }

        .footer_link:nth-of-type(5){
            grid-column: 1;
            grid-row: 5;
        }

        .foot_logo_link{
            gap: 30px;
        }
        
        .social_logo{
            margin: 13px;
            font-size: 25px;
        }

    }